@define-color accent_color @purple_5;
@define-color accent_bg_color @purple_5;
@define-color accent_fg_color alpha(white, 1);

textview {
  background: none;
}

.details-arrow {
  padding-left: 60px;
  padding-right: 12px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 1) 50%
  );
  border-radius: 0 12px 12px 0;
}

.font-size-7 {
  font-size: 7pt;
}

.rounded-corners {
  border-radius: 12px;
}

.more-rounded-corners {
  border-radius: 16px;
}

.extra-padding-except-top {
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.clear-input-button {
  color: alpha(@window_fg_color, 0.7);
  box-shadow: none;
}

.clear-input-button:hover, .clear-input-button:active {
  color: @window_fg_color;
  background: none;
}

.no-right-padding {
  padding-right: 0;
}

.weaker-highlight:hover {
  background: alpha(@window_fg_color, 0.03);
}

.weaker-highlight:active {
  background: alpha(@window_fg_color, 0.08);
}
